{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>TDD</title>
</head>
<body>

	<h1>“Hello, Apa kabar?”</h1>
	<table style="width: 100%">
	{% if Question %}
		{% for i in Question %}
		<tr>
			<td>{{i.question_text}}<td>
		</tr>
		{% endfor %}

	{% else %}
        <h5 class="red">There's no status yet, have fun!</h5> 
    {% endif %}
    </table>
    <br>
    <br>
    <form action="{% url 'create_status' %}" method="POST" class="w3-left-align isi">
    	{% csrf_token %}
    	{% for field in form %}
    		<p>{{ field.label_tag }} {{ field }}</p>
    	{% endfor%}
    	<input type="submit" value="Submit">
    </form>

</body>
</html>
{% endblock %}